.header {
  background-color: lightsteelblue;
}

.spacer {
  flex: 1 1 auto;
}

.logo-link {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.logo-link:hover {
  cursor: pointer;
}

.logo-imagem {
  height: 50px;
}