mat-sidenav-container {
    height: 100%;
}

mat-sidenav,
.content {
    padding: 20px;
}

mat-sidenav {
    max-width: 35%;
    display: flex;
    flex-direction: column;
}

app-header {
    position: sticky;
    top: 0;
    z-index: 1;
}